@model AdventureWorks.Dto.OfertaDto;
@{
}

<div class="rounded bg-light border my-2">


    <div class="container mb-3">
        <div class="row p-2">
            <div class="col-4">
                @Html.DisplayFor(model => model.Descripcion)


            </div>
            <div class="col-3">
                @Html.DisplayFor(model => model.Tipo)

            </div>
            <div class="col-3">
                @Html.DisplayFor(model => model.Categoria)
            </div>
            <div class="col-1">@Html.DisplayFor(model => model.MinQty)</div>
            <div class="col-1">@Html.DisplayFor(model => model.MaxQty)</div>

        </div>
        <div class="row">
            <div class="col-3">
                <h3>@Html.DisplayFor(model => model.Porcentaje)</h3>
            </div>
            <div class="col-3">
                @Html.Raw(Model.FechaInicio.ToShortDateString())
            </div>
            <div class="col-3">
                @Html.Raw(Model.FechaFin.ToShortDateString())
            </div>
            <div class="col-3">
                @* <button class="btn btn-primary" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapse@(index + 1)"
                aria-expanded="false"
                aria-controls="collapse@(index + 1)">
                <strong> @Html.Raw(item.Productos.Count()) </strong>
                </button>*@


            </div>
        </div>


        <div class="row">
            <div class="col-12 p-2">
                <div class="border rounded" style="max-height:500px; overflow:scroll">
                    <table class="table">
                        <tr>
                            <th>Añadir </th>
                            <th>Nombre</th>
                            <th>Numero</th>
                            <th>Color</th>
                            <th>Precio</th>
                            <th>Valor Descuento</th>
                            <th>Clase</th>
                            <th>Venta Inicio</th>
                            <th>Venta Fin</th>
                            <th>Fecha Ofertado</th>
                        </tr>
                        @foreach (AdventureWorks.Dto.ProductoDto producto in Model.AllProductos)
                        {
                            int index = Model.AllProductos.IndexOf(producto);
                            <tr>
                                <td>@Html.CheckBoxFor(model => model.AllProductos[index].IsSelected)</td>
                                <td>@Html.Raw(producto.Nombre)</td>
                                <td>@Html.Raw(producto.Numero)</td>
                                <td>@Html.Raw(producto.Color)</td>
                                <td>@Html.Raw(producto.Precio)</td>
                                @{
                                    decimal valorDesc = producto.Precio - (producto.Precio * Model.Porcentaje);
                                }
                                <td>@Html.Raw(valorDesc)</td>

                                <td>@Html.Raw(producto.Clase)</td>
                                <td>@Html.Raw(producto.VentaInicio.ToShortDateString())</td>
                                <td>@Html.Raw(producto.VentaFin?.ToShortDateString())</td>
                                <td>@Html.Raw(producto.UltimoCambioOferta?.ToShortDateString())</td>
                        </tr>
                        }
                    </table>

                </div>
            </div>
        </div>
        <div>
            <button class="btn btn-primary" s>Guardar</button>
        </div>
    </div>
</div>